@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,100,100italic,300,300italic,400italic,500,500italic,700italic,900,900italic);

/* General view */
body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
    color: #737373;
    position: relative;
}

body, html, .ember-view, .fullScreen {
    height: 100%;
}

.ember-view > .container {
    margin-top: 80px;
}

.ember-view > .container.toTop {
    margin-top: 0;
}

/* Buttons */
.button-primary.button-action {
    background-color: #71D0D6;
    border: 2px solid #71D0D6;
    margin: 0 auto;
    font-size: 21px;
    height: auto;
    line-height: 0.7em;
    display: block;
    padding: 10px 30px;
    text-transform: capitalize;
    font-weight: 200;
    transition: 0.3s all;
}

.button-primary.button-action:hover {
    background-color: transparent;
    border-color: #71D0D6;
}

.button-action.button-action:focus {
    background-color: #6FBABE;
    border-color: #6FBABE;
}

/* Forms */
::-webkit-input-placeholder { font-weight: 300; font-style: italic; }
:-moz-placeholder { font-weight: 300; font-style: italic; }
::-moz-placeholder { font-weight: 300; font-style: italic; }
:-ms-input-placeholder { font-weight: 300; font-style: italic; }

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    border: 1px solid #71D0D6;
}

#menu {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    left: 0;
    padding: 10px 0;
    background-color: white;
    color: #737373;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

#menu > .container {
    max-width: 95%;
    width: 95%;
}

#searchHeader {
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, rgba(113, 208, 214, 0.5), rgba(108, 157, 227, 0.5)), url('../img/background.jpg');
    background-image: -moz-linear-gradient(top, rgba(113, 208, 214, 0.5), rgba(108, 157, 227, 0.5)), url('../img/background.jpg');
    background-image: -o-linear-gradient(top, rgba(113, 208, 214, 0.5), rgba(108, 157, 227, 0.5)), url('../img/background.jpg');
    background-image: -ms-linear-gradient(top, rgba(113, 208, 214, 0.5), rgba(108, 157, 227, 0.5)), url('../img/background.jpg');
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(113, 208, 214, 0.5)), to(rgba(108, 157, 227, 0.5))), url('../img/background.jpg');
    background-image: -webkit-linear-gradient(top, rgba(113, 208, 214, 0.5), rgba(108, 157, 227, 0.5)), url('../img/background.jpg');
}

#searchHeader.alternativeHeader {
    background-image: linear-gradient(to bottom, rgba(113, 208, 214, 0.5), rgba(108, 157, 227, 0.5)), url('../img/background-2.jpg');
    background-image: -moz-linear-gradient(top, rgba(113, 208, 214, 0.5), rgba(108, 157, 227, 0.5)), url('../img/background-2.jpg');
    background-image: -o-linear-gradient(top, rgba(113, 208, 214, 0.5), rgba(108, 157, 227, 0.5)), url('../img/background-2.jpg');
    background-image: -ms-linear-gradient(top, rgba(113, 208, 214, 0.5), rgba(108, 157, 227, 0.5)), url('../img/background-2.jpg');
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(113, 208, 214, 0.5)), to(rgba(108, 157, 227, 0.5))), url('../img/background-2.jpg');
    background-image: -webkit-linear-gradient(top, rgba(113, 208, 214, 0.5), rgba(108, 157, 227, 0.5)), url('../img/background-2.jpg');
    margin-top: 57px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px #737373;
}

#searchHeader.alternativeHeader h1.listHeader.standAlone {
    display: inline-block;
    font-size: 4em;
    color: white;
    margin: 85px 0 20px;
    font-weight: 700;
}

#searchHeader.alternativeHeader .source {
    margin-bottom: 60px;
}

#searchHeader.alternativeHeader .source a {
    color: white;
    font-weight: 700;
}

@media (max-width: 768px){
    #searchHeader.alternativeHeader h1.listHeader.standAlone {
        font-size: 2em;
        margin-top: 45px;
    }
    #searchHeader.alternativeHeader .source {
        margin-bottom: 40px;
    }
}

.ember-view > .container.answer {
    margin-top: 40px;
}

#menu .pages {
    float: right;
}

#menu ul {
    margin: 0;
    float: right;
}

#menu:after {
    clear: both;
}

#menu ul li {
    display: inline-block;
    margin: 0;
}

#menu ul li:last-of-type a {
    margin-right: 0;
}

#menu a {
    color: #737373;
    text-decoration: none;
    font-size: 1.5em;
    margin-right: 40px;
    font-weight: 200;
}

#menu a.logo {
    font-weight: 700;
    font-style: italic;
    margin-right: 0;
    width: auto;
}

#menu a.login {
    background-color: #71D0D6;
    padding: 5px 15px;
    color: white;
    border-radius: 4px;
    border: 2px solid #71D0D6;
    transition: 0.3s all;
    font-size: 1.3em;
    cursor: pointer;
}

#menu a.login:hover {
    background-color: transparent;
    color: #71D0D6;
}

#menu a.login:focus {
    background-color: #6FBABE;
    border-color: #6FBABE;
    color: white;
}

#menu a.login.logout {
    background-color: transparent;
    color: #71D0D6;
}

#menu a.login.logout:hover {
    background-color: #71D0D6;
    color: white;
}

#menu .hamburger {
    width: 20px;
    height: 20px;
    display: none;
    margin: 0 15px 0 10px;
    background-size: 20px 20px;
    background-image: url('../img/menu.svg');
    cursor: pointer;
    position: relative;
    top: 2px;
}

#menu .mobile-menu {
    display: none;
}

#menu .mobile-menu ul {
    float: none;
    margin: 10px 0 0;
}

#menu .mobile-menu ul li {
    display: block;
    padding: 5px 0;
    font-size: 0.8em;
    transition: 0.3s all;
}

#menu .mobile-menu ul li a {
    display: block;
    width: 95%;
    margin: 0 auto;
}

#menu .mobile-menu ul li a.login {
    display: inline;
}

#menu .mobile-menu ul li:last-of-type {
    margin-bottom: 0;
}

#menu .mobile-menu ul li:hover {
    background-color: #f5f5f5;
}

#menu .mobile-menu ul li:hover a {
    text-decoration: underline;
}

#menu .mobile-menu ul li:hover a.login {
    text-decoration: none;
}

@media (min-width: 805px){
    #menu .mobile-menu {
        display: none !important;
    }
}

@media (max-width: 805px){
    #menu .brand {
        width: 95%;
        float: none;
        margin: 0 auto;
        display: block;
    }
    #menu .hamburger {
        display: inline-block;
    }
    #menu .pages {
        display: none;
    }
    #menu .container {
        width: 100%;
        max-width: 100%;
    }
    #menu .mobile-menu ul li a {
        margin-left: 20px;
    }
}

/* Search page */
#searchHeader {
    font-weight: 300;
}

#searchHeader .searchHelpers > p {
    font-weight: 200;
    font-size: 0.7em;
    margin-bottom: 0;
}

#searchForm {
    padding: 20px 0;
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 4px #737373;
}

#searchForm form {
    padding: 10px 0;
    font-weight: 300;
    line-height: 60px;
    margin: 100px 0 0;
}

#searchForm form button {
    margin: 60px auto 20px;
}

#searchForm .inputWrapper {
    display: inline-block;
    position: relative;
}

#searchForm .inputWrapper input:hover {
    cursor: pointer;
}

#searchForm .naturalLanguageForm .inputWrapper:after {
    content: '';
    display: block;
    position: absolute;
    right: 21px;
    top: 29px;
    width: 16px;
    height: 10px;
    background-size: 16px 10px;
    background-image: url('../img/arrow-blue.svg');
    cursor: pointer;
}

#searchForm .inputWrapper input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #71D0D6;
    height: auto;
    border-radius: 0;
    margin: 0 15px;
    padding: 3px 28px 3px 8px;
    color: white;
    width: auto;
    font-weight: 700;
    text-shadow: 2px 2px 4px #737373;
    transition: 0.3s all;
}

#searchForm .inputWrapper input[type="text"]:focus, #searchForm .inputWrapper input[type="text"]:active {
    border-bottom-width: 2px;
}

@media (max-width: 950px){
    #menu a {
        margin-right: 10px;
    }
}

@media (max-width: 768px){
    #searchForm form {
        font-size: 0.6em;
        line-height: 35px;
        margin-top: 75px;
        text-align: center;
        padding-bottom: 0;
    }
    /*#searchForm .inputWrapper input[type="text"] {*/
        /*width: 90px;*/
    /*}*/
    #searchForm .naturalLanguageForm .inputWrapper:after {
        top: 14px;
    }
    #searchForm form button {
        margin: 30px auto 10px;
        font-size: 15px;
        padding: 7px 25px;
    }
    #searchForm p.changeSearchBar {
        font-size: 0.8em;
        margin-bottom: 0;
    }
    #searchForm p.changeSearchBar span:hover {
        border-bottom-width: 1px;
    }
    #searchForm form.normalForm input[type="text"].regularSearch {
        padding: 20px 10px;
        width: 100%;
    }
    #searchForm .inputWrapper {
        position: static;
    }
    #searchForm .naturalLanguageForm .inputWrapper > .ember-view > .inputKeywordWrapper {
        position: relative;
    }
    #searchForm .naturalLanguageForm .inputWrapper > .ember-view > .inputKeywordWrapper:after {
        content: '';
        display: block;
        position: absolute;
        right: 21px;
        top: 13px;
        width: 16px;
        height: 10px;
        background-size: 16px 10px;
        background-image: url('../img/arrow-blue.svg');
        cursor: pointer;
    }
    #searchForm .naturalLanguageForm .inputWrapper:after {
        display: none;
    }
    #searchForm .inputWrapper .ember-view .recommendationsPopUp {
        width: 95%;
        left: 0;
        top: 65px;
        min-width: initial;
        padding: 0;
    }
    #searchForm .inputWrapper .ember-view .recommendationsPopUp .recommendationsList li {
        font-size: 1em;
        text-align: left;
        padding: 0 10px;
        line-height: 35px;
    }
    #searchForm .inputWrapper .ember-view .recommendationsPopUp .recommendationsList li.freeRecommendation {
        padding-right: 10px;
    }
    #searchForm .inputWrapper .ember-view .recommendationsPopUp .recommendationsList li:after {
        right: 10px;
        top: 13px;
    }
    #searchForm .inputWrapper .ember-view .recommendationsPopUp .recommendationsList li:hover:after {
        right: 14px;
    }
}

/* Recommendations Pop Up */
#searchForm .inputWrapper .recommendationsPopUp {
    display: none;
    position: absolute;
    top: -15px;
    left: 20px;
    min-width: 220px;
    width: auto;
    background-color: #71D0D6;
    border: 3px solid #6FBABE;
    color: white;
    padding: 10px 0;
    text-shadow: none;
    z-index: 1;
}

#searchForm .inputWrapper .recommendationsPopUp .recommendationsList {
    list-style: none;
    margin: 0;
}

#searchForm .inputWrapper .recommendationsPopUp .recommendationsList li {
    cursor: pointer;
    margin: 0;
    padding: 0 40px 0 20px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-size: 0.7em;
    line-height: 40px;
    position: relative;
    transition: 0.3s all;
}

#searchForm .inputWrapper .recommendationsPopUp .recommendationsList li:hover {
    background-color: #6FBABE;
}

#searchForm .inputWrapper .recommendationsPopUp .recommendationsList li:after {
    content: '';
    width: 16px;
    height: 10px;
    background-size: 16px 10px;
    background-image: url('../img/arrow-white.svg');
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: absolute;
    top: 15px;
    right: 20px;
    transition: 0.3s all;
}

#searchForm .inputWrapper .recommendationsPopUp .recommendationsList li:hover:after {
    right: 24px;
}

#searchForm .inputWrapper .recommendationsPopUp .recommendationsList li.freeRecommendation {
    cursor: auto;
    padding-right: 20px;
}

#searchForm .inputWrapper .recommendationsPopUp .recommendationsList li.freeRecommendation form {
    margin: 0;
    padding: 0;
    line-height: 0;
}

#searchForm .inputWrapper .recommendationsPopUp .recommendationsList li.freeRecommendation:after {
    display: none;
}

#searchForm .inputWrapper .recommendationsPopUp .recommendationsList li.freeRecommendation input[type="text"] {
    margin: 5px 0;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    color: #737373;
    font-weight: 300;
    width: 100%;
    max-width: 100%;
    text-shadow: none;
}

@media (max-width: 768px){
    #searchForm .inputWrapper {}
}

#searchForm .changeSearchBar {
    text-align: center;
    display: block;
    font-size: 1.2em;
    text-shadow: 1px 1px 2px #737373;
}

#searchForm .changeSearchBar span {
    cursor: pointer;
    font-size: 0.6em;
}

#searchForm .changeSearchBar span.normal {
    display: none;
}

#searchForm .changeSearchBar span:hover {
    border-bottom: 2px solid #71D0D6;
}

#searchForm .hidden {
    display: none;
}

#searchForm form.normalForm input[type="text"] {
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 30px 20px;
    line-height: normal;
    width: 80%;
    display: block;
    margin: 0 auto;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    color: #737373;
}

#searchForm form.normalForm button {
    margin-top: 20px;
}

.searchResults.results {
    display: none;
}

.searchResults ul {
    margin: 5px auto 20px;
}

.searchResults ul:after {
    content: '';
    display: table;
    clear: both;
}

.searchResults ul li {
    list-style: none;
    width: 49%
}

.searchResults ul li:nth-child(odd) {
    float: left;
    content: ' ';
    display: block;
    clear: both;
}

.searchResults ul li:nth-child(even) {
    float: right;
}

.card {
    background-color: white;
    margin: 20px 0;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.card > h1 {
    padding: 10px 20px;
    color: white;
    background-color: #71D0D6;
    overflow: hidden;
    font-size: 2em;
    margin: 0;
    border-bottom: 2px solid #6FBABE;
    font-weight: 200;
    text-align: center;
}

.card > .content {
    padding: 10px 20px 20px;
    font-weight: 200;
}

.card > .content p:last-child {
    margin-bottom: 0;
}

.card > a {
    display: block;
    color: #737373;
    padding: 0px 20px;
    transition: 0.3s all;
}

.card > a:hover {
    background-color: rgba(0,0,0,0.05);
}

.card > a > span {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.15);
}

.card > a > span:after {
    content: '';
    display: inline-block;
    right: 21px;
    top: 29px;
    width: 16px;
    height: 10px;
    background-size: 16px 10px;
    background-image: url('../img/arrow-black.svg');
    cursor: pointer;
    margin-left: 5px;
    transform: rotateZ(270deg);
}

.card.alternative.no-image {
    background-color: #71D0D6;
    color: white;
}

.card.alternative.no-image > h1 {
    border: none;
    background-color: #6FBABE;
}

.card.alternative.no-image > .content > p {
    margin-bottom: 15px;
}

.card.alternative > .content > a {
    background-color: white;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
    font-size: 21px;
    height: auto;
    line-height: 0.7em;
    padding: 10px 30px;
    font-weight: 200;
    transition: 0.3s all;
    color: #71D0D6;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    width: auto;
    max-width: 100px;
    text-shadow: none;
}

.card.alternative > .content > a:hover {
    background-color: transparent;
    color: white;
}

.card.alternative > .content > a:focus {
    background-color: #6FBABE;
    border-color: #6FBABE;
    color: white;
}

.card.alternative.image {
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(113, 208, 214, 0.5), rgba(108, 157, 227, 0.5)), url('../img/exam-contact-bg.jpg');
    background-image: -moz-linear-gradient(top, rgba(113, 208, 214, 0.5), rgba(108, 157, 227, 0.5)), url('../img/exam-contact-bg.jpg');
    background-image: -o-linear-gradient(top, rgba(113, 208, 214, 0.5), rgba(108, 157, 227, 0.5)), url('../img/exam-contact-bg.jpg');
    background-image: -ms-linear-gradient(top, rgba(113, 208, 214, 0.5), rgba(108, 157, 227, 0.5)), url('../img/exam-contact-bg.jpg');
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(113, 208, 214, 0.5)), to(rgba(108, 157, 227, 0.5))), url('../img/exam-contact-bg.jpg');
    background-image: -webkit-linear-gradient(top, rgba(113, 208, 214, 0.5), rgba(108, 157, 227, 0.5)), url('../img/exam-contact-bg.jpg');
    color: white;
    text-shadow: rgb(115, 115, 115) 2px 2px 4px;
}

.card.alternative.image > h1 {
    background: none;
    border: none;
}

.card.alternative.image > .content > a {
    max-width: 160px;
}

@media (max-width: 768px){
    .card {
        margin-bottom: 0;
    }
}

hr.listDivider {
    width: 200px;
    border-top: 2px solid #71D0D6;
    margin: 20px auto;
}

hr.listDivider.grey {
    border-top-color: #737373;
}

h1.listHeader {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 0;
}

h2.listSubHeader {
    font-size: 1.2em;
    text-align: center;
    font-weight: 200;
    margin-bottom: 0;
}

section.answer > .content {
    margin: 20px 0 50px 0;
}

section.answer > .source {
    text-align: center;
    margin-bottom: 50px;
}

section.answer > .source a {
    color: #71D0D6;
    text-decoration: none;
}

section.answer > .source > p, section.answer > .content > p {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 678px){
    .container {
        width: 95%;
    }
    .searchResults ul li {
        width: 100%;
        float: none;
    }
}

#loginForm form {
    max-width: 300px;
    padding: 150px 0;
    margin: 0 auto;
}

#loginForm form > h1, #loginForm form > i {
    font-weight: 700;
    text-align: center;
    display: block;
    color: white;
    margin: 0;
}

#loginForm form > i {
    font-weight: 100;
    margin-bottom: 20px;
}

#loginForm form input, #loginForm form button {
    width: 100%;
}

#loginForm form > a {
    text-align: center;
    color: white;
    display: block;
    margin: 20px 0;
}

#resultsView > h1 {
    text-align: center;
    font-weight: 700;
}

#resultsView > h2 {
    font-size: 20px;
    text-align: center;
}

#resultsView > p {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
}

#resultsView > ul {
    margin-left: 10px;
}

#resultsView .result-indicator .result {
    background-color: #F44336;
    height: 40px;
    margin-left: 0;
    width: 33.3333333334%;
}

#resultsView .result-indicator .result.low {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#resultsView .result-indicator .result.medium {
    background-color: #FFA000;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

#resultsView .result-indicator .result.high {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #43A047;
}

#footer {
    background-color: white;
    margin: 30px auto 0;
    text-align: center;
    padding-bottom: 5px;
}

#footer > .footer-icon-container {
    display: inline-block;
    margin-top: -40px;
}

#footer > .footer-links {
    margin-top: -55px;
}

#footer > .footer-links > ul {
    list-style: none;
    margin-bottom: 10px;
}

#footer > .footer-links > ul > li a {
    color: #737373;
    font-weight: 200;
    text-decoration: none;
    font-size: 1.2em;
}

#footer > .footer-links > ul > li a:hover {
    text-decoration: underline;
}

@media (max-width: 550px){
    #footer {
        padding-bottom: 0;
    }
    #footer > .footer-links {
        margin-top: 0;
    }
    #footer > .footer-links > ul {
        margin-bottom: 20px;
    }
    #footer > .footer-links > ul > li.middle {
        display: none;
    }
}

/* Overlay */
body.overlay:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

body.overlay #searchForm .inputWrapper .recommendationsPopUp {
    z-index: 4;
}

body.overlay #searchForm .inputWrapper .recommendationsPopUp:before {
    content: 'X';
    display: block;
    position: absolute;
    top: -30px;
    right: -11px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 768px){
    body.overlay #searchForm .inputWrapper .recommendationsPopUp:before {
        font-size: 30px;
        top: -20px;
        right: -10px;
    }
}

/* Dialog window */
.dialogWindow {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: #71D0D6;
    border: 2px solid #6FBABE;
    color: white;
    padding: 5px 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.dialogWindow > .closeDialog {
    margin-left: 5px;
    color: #6FBABE;
    font-weight: 900;
    position: relative;
    top: 1px;
    cursor: pointer;
}