<div class="card">
    <h1>{{answer.title}}</h1>

    <div class="content">
        {{{answer.contentSummary}}}
    </div>

    {{#link-to 'answers.show' answer}}<span>Meer -></span>{{/link-to}}
</div>