<section id="menu">

    <div class="container">
        <div class="row">
            <ul class="ten columns">
                <li>{{#link-to 'answers.index'}}Antwoorden{{/link-to}}</li>
            </ul>

            {{#link-to 'login' class='two columns account'}}Account{{/link-to}}
        </div>
    </div>

</section>