<section id="menu">

    <div class="container">
        <div class="row desktop-menu">
            <ul class="ten columns">
                <li>{{#link-to 'search'}}Zoeken{{/link-to}}</li>
                <li>{{#link-to 'search'}}Mijn resultaten{{/link-to}}</li>
            </ul>

            {{#link-to 'login' class='two columns account'}}Account{{/link-to}}
        </div>

        <div class="mobile-menu">
            <ul>
                <li>{{#link-to 'search'}}Zoeken{{/link-to}}</li>
                <li>{{#link-to 'search'}}Mijn resultaten{{/link-to}}</li>
                <li>{{#link-to 'login'}}Account{{/link-to}}</li>
            </ul>
        </div>

    </div>

</section>