<section class="searchResults container toTop">

    <hr class="listDivider">

    <h1 class="listHeader">Zoek je hier naar?</h1>

    <ul class="results-list">

        <li>
            <div class="card">
                <h1> CvE is het CvTE</h1>

                <div class="content">
                    <p><b>Het College voor Examens</b> heeft er een nieuwe taak bij: de uitvoering van de centrale eindtoets in het primair onderwijs. Daarom heet het CvE vanaf 1 augustus 2014 het College voor Toetsen en ...</p>
                </div>

                <a id="ember430" class="ember-view" href="#/answers/9/-cve-is-het-cvte"><span>Meer -&gt;</span></a>
            </div>
        </li>

        <li>
            <div class="card">
                <h1>Examenloket</h1>

                <div class="content">
                    <p>Ook dit jaar kan het <b>onderwijsveld</b> met vragen over examens voortgezet onderwijs <b>(vmbo, havo, vwo en vavo)</b> terecht op één plek:&nbsp;het Examenloket.</p><p>Het ministerie van OCW, de I ...</p>
                </div>

                <a id="ember441" class="ember-view" href="#/answers/10/examenloket"><span>Meer -&gt;</span></a>
            </div>
        </li>

        <li>
            <div class="card">
                <h1>Wijze van bezorging</h1>

                <div class="content">
                    <p>Alle zendingen met <b>examenpakketten</b> worden door een koerier op de scholen bezorgd. Er worden geen zendingen meer per aangetekende post verstuurd. De zendingen vanuit DUO worden bezorgd door M ...</p>
                </div>

                <a id="ember446" class="ember-view" href="#/answers/13/wijze-van-bezorging"><span>Meer -&gt;</span></a>
            </div>
        </li>

        <li>
            <div class="card">
                <h1>Tijdstip bezorging papieren centrale examens eerste tijdvak</h1>

                <div class="content">
                    <p><u>De examenfraude in mei 2013</u> heeft de <b>noodzaak</b> onderstreept om de examenpakketten zo kort mogelijk voor de afname op de scholen af te leveren. Voor het eerste tijdvak worden de examenp ...</p>
                </div>

                <a id="ember451" class="ember-view" href="#/answers/14/tijdstip-bezorging-papieren-centrale-examens-eerste-tijdvak"><span>Meer -&gt;</span></a>
            </div>
        </li>

    </ul>

</section>