<section id="searchHeader" class="fullScreen">

    <section id="loginForm" class="container">

        <form {{action 'login' on='submit'}}>

            <h1>Inloggen</h1>
            <i>Log in met je schoolaccount</i>

            {{input
                placeholder="Inlognaam"
                type="text"
                value=login}}

            {{input
                placeholder="Wachtwoord"
                type="password"
                value=password}}

            <button class="button-primary button-action">Inloggen</button>

            {{#link-to 'search'}}Terug naar de homepagina{{/link-to}}

        </form>

    </section>

</section>