{{partial "menu"}}

<div id="resultsView" class="container">

    <h1>Mijn Resultaten</h1>

    <h2>Je hebt bevindt je momenteel in de oranje categorie.</h2>

    <div class="row result-indicator">

        <div class="four columns result low">

        </div>

        <div class="four columns result medium">

        </div>

        <div class="four columns result high">

        </div>

    </div>

    <p>Dit betekend dat je:</p>
    <ul>
        <li>Bij de volgende schoolexamens goed je best moet doen voor het vak engels.</li>
        <li>Voor het vak wiskunde a online oude examens moet maken.</li>
        <li>Je voor het vak geschiedenis tijdens de les veel aantekeningen moet maken.</li>
    </ul>

</div>

{{partial "suggestions"}}

{{partial "footer"}}