<div id="footer">
    <div class="footer-icon-container">
        {{#link-to 'search'}}<img src="../img/footer-icon.png" />{{/link-to}}
    </div>

    <div class="container footer-links">

        <ul class="row">

            <li class="two columns">{{#link-to 'search'}}Zoeken{{/link-to}}</li>
            <li class="two columns">{{#link-to 'answers.index'}}Antwoorden{{/link-to}}</li>
            <li class="four columns middle"><!--Icon made by <a href="http://www.freepik.com/">Freepik</a> from <a href="www.flaticon.com">www.flaticon.com</a>--></li>
            <li class="two columns">{{#link-to 'results'}}Mijn resultaten{{/link-to}}</li>
            <li class="two columns">{{#link-to 'login'}}Inloggen{{/link-to}}</li>

        </ul>

    </div>
</div>