<section id="menu">

    <div class="container">
        <div class="row desktop-menu">
            <div class="four columns brand">
                <span class="hamburger"></span>
                {{#link-to 'search' class='logo'}}Project Grasshopper{{/link-to}}
            </div>

            <div class="eight columns pages">
                <ul>
                    <li>{{#link-to 'search'}}Zoeken{{/link-to}}</li>
                    <!-- TODO: Stuur de gebruiker bij het bezoeken van deze pagina (via de footer) naar de inlog pagina -->
                    {{#if controllers.application.userIsLoggedIn}}
                        <li>{{#link-to 'results'}}Mijn resultaten{{/link-to}}</li>
                    {{/if}}

                    <li>{{#link-to 'answers'}}Antwoorden{{/link-to}}</li>

                    {{#if controllers.application.userIsLoggedIn}}
                        <li><a class='login logout'{{action 'logout' target='controllers.application'}}>Uitloggen</a></li>
                    {{else}}
                        <li>{{#link-to 'login' class='login'}}Inloggen{{/link-to}}</li>
                    {{/if}}

                </ul>
            </div>
        </div>

        <div class="mobile-menu">
            <ul>
                <li>{{#link-to 'search'}}Zoeken{{/link-to}}</li>

                {{#if controllers.application.userIsLoggedIn}}
                    <li>{{#link-to 'results'}}Mijn resultaten{{/link-to}}</li>
                {{/if}}

                <li>{{#link-to 'answers'}}Antwoorden{{/link-to}}</li>

                {{#if controllers.application.userIsLoggedIn}}
                    <li><a class='login logout'{{action 'logout' target='controllers.application'}}>Uitloggen</a></li>
                {{else}}
                    <li>{{#link-to 'login' class='login'}}Inloggen{{/link-to}}</li>
                {{/if}}

            </ul>
        </div>

    </div>

</section>